APP_NAME="Lintune"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://dash.yourdomain.com

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=lintune
DB_USERNAME=<db_user>
DB_PASSWORD=<db_password>

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=true

KEYCLOAK_BASE_URL=https://auth.yourdomain.com
KEYCLOAK_CLIENT_ID=lintune-frontend
KEYCLOAK_ALLOWED_GROUPS=realm-admin
KEYCLOAK_ADMIN_CLI_CLIENT=admin-cli